
.item {
    display: inline-block;
    }
  
#ingestaDelDia{
    min-height: 140px;
    padding: 1rem;
    }
#ingestaDelDia.flex {
    display: flex;
    }
#ingestaDelDia.flex {
        display: flex;
    }
      
#ingestaDelDia.flex.flex-wrap {
        flex-wrap: wrap;
    }
      
#ingestaDelDia .alimento {
        width: calc(100% / 6);
    }
.contador {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff0000;
    color: #ffffff;
    padding: 0.2rem 0.4rem;
    border-radius: 50%;
    font-size: 0.8rem;
    }
            
